html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
}

.project-thumbnail {
  width: 50vw;
  height: 50vw;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.icon-wrapper {
  display: flex;
}
.git-wrapper {
  height: 3vh;
  width: 3vh;
}

.live-wrapper {
  height: 3vh;
  width: 3vh;
}

.icon {
  height: 100%;
  width: 100%;
}
