html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.git-icon {
  height: 5vh;
  width: 5vh;
  background-image: url("../src/assets/github.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.live-icon {
  height: 5vh;
  width: 5vh;
  background-image: url("../src/assets/link.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
